body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* center app */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* card */
.card {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  width: 340px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* form layout */
.form {
  display: flex;
  flex-direction: column;
}

/* inputs */
input, select {
  margin: 8px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* buttons */
button {
  margin-top: 12px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff7eb3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* small button */
.small-btn {
  background: transparent;
  font-size: 12px;
  margin-top: 5px;
}

/* text */
.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-btn {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.sub-text {
  font-size: 14px;
  opacity: 0.8;
}
input[type="date"] {
  color: white;
}